.App {
  text-align: left;
  margin: 4px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* header */
.smheader {
  min-height: 80px;
  background-color: #161616;
  color: #F4F4F4;
  display: flex;
  flex-direction: column;
}

.smheader .header-empty {
  min-height: 32px;
}

.smheader .header-line {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
}

.smlogofont {
  margin: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}


.grow {
  flex-grow: 10;
}


/* carbon */
.bx--tab-content {
  padding: 0px !important;
}
.bx--accordion__content {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.bx--tabs--scrollable__nav-link {
  width: auto !important;
}

.bx--tabs--scrollable__nav {
  flex: 1;
}

.bx--tabs--scrollable__nav-item {
  flex: 1;
  flex-direction: column;
}

/* hide parameter divider */
.parameter-divider {
  display: none;
}


.content_scroller {
  /* height: 300px; */
  overflow: auto;
}

/* gui styles */
.parameter-label {
  white-space: nowrap;
  color: gray;
  font-size: 16;  
  margin-bottom: 4px;
}

.parameter-wrapper {
  margin-top: 1px;
}


/* .rootgroup-wrapper {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #454545;
} */

.serverid {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 2px;
  color: #5C7080;
}

.credits {
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.aunderline {
  color: #5C7080;
  text-decoration: "underline";
}

.grouplabel {
  margin: auto;
  font-size: 1.2em !important;
}

.parameter-wrapper .h_element:first-child {
  flex-grow: 10;
}
.parameter-wrapper .h_element:not(:first-child) {
  flex-grow: 0;
}

.spacer {
  flex-grow: 2;
}

.flex-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 
* color
*/
.color-field {
  width: 50%;
  padding: 0;
  border: none;
  outline: none;
}
.color-field::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.color-field::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}
.color-field::-moz-color-swatch {
  border: none;
  border-radius: 0;
  padding: 0;
}
.color-label {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto !important;
}



/* 
* carbon design system overrides
*/

.bx--modal-close {
  display: none;
}