.App {
  text-align: left;
  margin: 4px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* gui styles */
.parameter-label {
  white-space: nowrap;
  color: gray;
  font-size: 16;  
  margin-bottom: 4px;
}

.parameter-wrapper {
  /* padding-top: 4px; */
  padding-bottom: 0px;  
  margin-top: 1em;
}


.rootgroup-wrapper {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #454545;
}

.serverid {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 2px;
  color: #5C7080;
}

.credits {
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.aunderline {
  color: #5C7080;
  text-decoration: "underline";
}

.grouplabel {
  margin: auto;
  font-size: 1.2em !important;
}

.parameter-wrapper .h_element:first-child {
  flex-grow: 10;
}
.parameter-wrapper .h_element:not(:first-child) {
  flex-grow: 0;
}

.spacer {
  flex-grow: 2;
}

.flex-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 
* color
*/
.color-field {
  width: 50%;
  padding: 0;
  border: none;
  outline: none;
}
.color-field::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.color-field::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}
.color-field::-moz-color-swatch {
  border: none;
  border-radius: 0;
  padding: 0;
}
.color-label {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto !important;
}



/* 
* carbon design system overrides
*/

.bx--modal-close {
  display: none;
}