.App {
  text-align: left;
  margin: 4px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* gui styles */
.parameter-label {
  white-space: nowrap;
  color: gray;
  font-size: 16;  
  margin-bottom: 4px;
}

.parameter-wrapper {
  /* padding-top: 4px; */
  padding-bottom: 0px;  
  margin-top: 1em;
}


.rootgroup-wrapper {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #454545;
}

.serverid {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 2px;
  color: #5C7080;
}

.credits {
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.aunderline {
  color: #5C7080;
  text-decoration: "underline";
}

/* 
* carbon design system overrides
*/

.bx--modal-close {
  display: none;
}