.App {
  text-align: left;
  margin: 4px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* bluepring style overwrites*/
.bp3-slider-label{
  -webkit-transform:translate(0%, 20px);
          transform:translate(0%, 20px);
}

.bp3-slider-axis :nth-child(2){
  -webkit-transform:translate(-100%, 20px);
          transform:translate(-100%, 20px);
}

.bp3-slider-axis :nth-child(3){
  -webkit-transform:translate(-100%, 20px);
          transform:translate(-100%, 20px);

  right: 0 px;
}

.bp3-slider-handle .bp3-slider-label{
  -webkit-transform:translate(-50%, -20px);
          transform:translate(-50%, -20px);
}

.bp3-tab-list {
  flex-flow: row wrap;
}

.bp3-overlay {
  pointer-events: none;
}

/* gui styles */
.parameter-label {
  white-space: nowrap;
  color: gray;
  font-size: 16;  
  margin-bottom: 4px;
}

.parameter-wrapper {
  padding-top: 4px;
  padding-bottom: 0px;  
}

.parameter-wrapper .inner{
  padding: 5px;
  border-radius: 4px;
}

.bp3-dialog-body h3:first-child {
  margin-top: 0;
}
.bp3-alert-contents h4:first-child {
  margin-top: 0;
}

.connection-dialog, .share-connection-dialog {
  margin: 2em;
}

.share-connection-cta {
  margin-top: -2px;
  margin-left: 4px;
}
.share-connection-cta .bp3-button-text {
  font-size: 0.8em;
}

.share-connection-dialog .bp3-control-group {
  margin: 1em 0 0.5em;
}

.share-connection-dialog .bp3-control-group div:first-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.share-connection-dialog .bp3-input-group {
  flex-grow: 1;
  flex-shrink: 1;
}

.share-connection-dialog .confirmation-message {
  margin-top: 1em;
}

.share-connection-dialog .qr-grid {
  display: flex;
  align-items: flex-start;
}

.share-connection-dialog .qr-container {
  padding: 0.5em;
  background-color: #10161A;
  border-radius: 3px;
  display: flex;
  max-width: 250px;
  margin: 10px 0;
}

.share-connection-dialog .qr-container svg {
  width: 100%;
  height: 100%;
}

.connection_history h4 {
  margin-bottom: 0.66em;
}

.connection_history_list {
  max-height: calc(80vh - 17em);
  overflow-y: scroll;
  scrollbar-width: none;
}
.connection_history_list::-webkit-scrollbar {
  display: none;
}
.connection_history_list::-webkit-scrollbar {
  display: none;
}

.history_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  border-bottom: 1px solid rgba(16, 22, 26, 0.4);
}
.history_list_item:last-child {
  border: none;
}
.history_item_ctas {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.history_item_ctas button {
  margin: 0 2px 0 3px;
}
.bp3-divider {
  margin-left: 0;
  margin-right: 0;
}

.rootgroup-wrapper {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #454545;
}

.serverid {
  font-size: 0.8em;
  margin-top: 8px;
  margin-left: 2px;
}

.credits {
  font-size: 0.8em;
  margin-top: 20;
  margin-bottom: 5;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.break-anywhere {
  line-break: anywhere;
}